#rezervirajtipka
  background: #dee21b
  color: black
  font-weight: bold
  font-size: 20px
  width: 160px
  height: 50px
  box-shadow: 2px 2px grey

.tipka
  text-align: center
  margin-top: 35px

.drugikorak
  user-select: none

#smskljuc:hover
  border-bottom: 2px double black!important
#smskljuc:focus
  border-bottom: 2px double black!important

