<div id="forma">
  <div class=drugikorak>3. UNESITE VAŠE PODATKE</div>
  <div *ngIf="!isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input #name="ngModel" (ngModelChange)="rezervacijeService.ime.next(ime)" [(ngModel)]="ime" class="form-control"
             id="firstname3" pInputText placeholder="Ime"
             required type="text">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <div *ngIf="name.errors?.required" style="color:white; margin-left: 15px">
          Ime je obavezno.
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input [(ngModel)]="ime" [disabled]="true" id="firstname2" pInputText value="{{ime}}">
    </div>
  </div>
  <div *ngIf="!isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input #surname="ngModel" (ngModelChange)="rezervacijeService.prezime.next(prezime)" [(ngModel)]="prezime"
             class="form-control" id="lastname3" pInputText
             placeholder="Prezime"
             required type="text">
      <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert">
        <div *ngIf="surname.errors?.required" style="color:white; margin-left: 15px">
          Prezime je obavezno.
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input [(ngModel)]="prezime" [disabled]="true" id="lastname2" pInputText value="{{prezime}}">
    </div>
  </div>
  <div *ngIf="!isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <p-inputMask #phonenumber="ngModel" (ngModelChange)="rezervacijeService.brojtelefona.next(brojtelefona)"
                   [(ngModel)]="brojtelefona" class="form-control" id="phonenumber"
                   mask="999999999?99999" placeholder="Broj telefona"></p-inputMask>
    </div>
  </div>
  <div *ngIf="isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input [(ngModel)]="brojtelefona" [disabled]="true" id="phonenumber2" pInputText value="{{brojtelefona}}">
    </div>
  </div>
</div>
<div class="p-field p-grid" id="napomena">
      <textarea (ngModelChange)="rezervacijeService.napomena.next(napomena)" [(ngModel)]="napomena" id="napomena1"
                pInputTextarea
                placeholder="Napomena (opcionalno)"
                style="resize: none; width: 240px; color: white; "></textarea>
</div>

<div class="tipka">
  <button (click)="back()" class="p-button-raised p-button-success p-button-text" id="backtipka"
          label="<- Natrag" pButton
          pRipple></button>
  <button (click)="rezerviraj()" *ngIf="!isImeEmpty() && !isPrezimeEmpty() && !isAlreadyReserved() && isBrojFull()"
          class="p-button-raised p-button-success p-button-text" id="rezervirajtipka"
          label="Rezerviraj" pButton
          pRipple></button>
  <button *ngIf="(isImeEmpty() || isPrezimeEmpty() || isAlreadyReserved() || !isBrojFull())" [disabled]="true"
          class="p-button-raised p-button-success p-button-text" id="rezervirajtipkaDisabled"
          label="Rezerviraj" pButton
          pRipple></button>
</div>


<p-dialog (onShow)="smsDenyTimoutStart()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [closable]="false"
          [style]="{width: '50vw'}" [visible]="showSmsDialog">
  <h3>Unesite ključ koji ste dobili putem SMS poruke:</h3>

  <input #sms [(ngModel)]="smskey" class="p-inputtext-confirmdialog" pInputText>
  <div style="float: right">
    <button class="smsbutton" (click)="smsDeny()" [disabled]="disableSMSDeny"
            icon="pi pi-times"
            label="Nisam dobio/dobila poruku" pButton
            type="button"></button>
    <button class="smsbutton" (click)="smsConfirm()" icon="pi pi-check" label="Potvrdi" pButton [disabled]="!isSmsKeyEmpty()"
            type="button"></button>
  </div>
</p-dialog>
