::ng-deep .selected
  box-shadow: 0 0 0 0.2rem white !important
  background-color: #dee21b

.vecrezervirano
  font-size: 11px
  padding-left: 5px
  font-weight: bold
.datum
  font-weight: bold
  padding-right: 25px
  font-size: 17px
  font-family: 'Roboto'
  color: black

.naziv
  font-family: 'Roboto'
  text-align: left
  color: black



::ng-deep .p-button
  text-align: justify-all








