#wrapper
  background-image: url("~src/assets/img/mobileviewbg.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 100vh
::ng-deep ::placeholder
  color: white
  font-family: 'Poppins', sans-serif
  font-weight: 400
@media screen and (min-width: 485px)
  #wrapper
    height: 100vh
    overflow: hidden
    background-position: top
