<div id="wrapper" style="height: 100%">
  <div id="left">
    <div *ngFor="let dogadaj of dogadaji" class="dogadaj">
      <app-dogadaj (click)="rezervacijeService.selectedEvent.next(dogadaj)"
                   [dogadaj]=dogadaj
                   [selected]="dogadaj.selected"></app-dogadaj>
    </div>
    <button (click)="tables.saveLayout()" label="Spasi raspored stolova" pButton type="button"></button>

    <button (click)="showAddTable()" label="Dodaj stol" pButton type="button"></button>
    <button (click)="tables.deleteSelected()" label="Ukloni odabrani stol" pButton type="button"></button>

  </div>
  <div id="right">
    <app-tables #tables [admin]="true"></app-tables>
  </div>
</div>

<p-dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [visible]="addTableVisible">
  <h3>Svojstva stola:</h3>
  <div style="float: right">

    <input [(ngModel)]="newTableNumber" pInputText type="text"/>
    <input [(ngModel)]="newTableType" pInputText type="text"/>

    <button (click)="addTableVisible = false" class="p-button-text" icon="pi pi-check"
            label="Zatvori"
            pButton
            type="button"></button>
    <button (click)="addTable()" icon="pi pi-check" label="Dodaj" pButton
            type="button"></button>
  </div>
</p-dialog>
