<div id="forma">
  <div *ngIf="!isLoggedIn()" class=drugikorak
       style="color: white; text-align: center; font-weight: 700; font-size: 18px;">2. UNESITE VAŠE
    PODATKE
  </div>
  <div *ngIf="isLoggedIn()" class=drugikorak
       style="color: grey; text-align: center; font-weight: 700; font-size: 18px;">2. UNESITE VAŠE
    PODATKE
  </div>
  <div *ngIf="!isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input #name="ngModel" [(ngModel)]="ime" class="form-control"
             id="firstname3" pInputText placeholder="Ime"
             required type="text">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <div *ngIf="name.errors?.required" style="color:white; margin-left: 15px">
          Ime je obavezno.
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input [(ngModel)]="ime" [disabled]="true" id="firstname2" pInputText value="{{ime}}">
    </div>
  </div>
  <div *ngIf="!isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input #surname="ngModel" [(ngModel)]="prezime"
             class="form-control" id="lastname3" pInputText
             placeholder="Prezime"
             required type="text">
      <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert">
        <div *ngIf="surname.errors?.required" style="color:white; margin-left: 15px">
          Prezime je obavezno.
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input [(ngModel)]="prezime" [disabled]="true" id="lastname2" pInputText value="{{prezime}}">
    </div>
  </div>
  <div *ngIf="!isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <p-inputMask #phonenumber="ngModel" [(ngModel)]="brojtelefona" class="form-control" id="phonenumber"
                   mask="+387 99 999 999?9" placeholder="Broj telefona"></p-inputMask>
    </div>
  </div>
  <div *ngIf="isLoggedIn()" class="p-field p-grid">
    <div class="p-col">
      <input [(ngModel)]="brojtelefona" [disabled]="true" id="phonenumber2" pInputText value="{{brojtelefona}}">
    </div>
  </div>
  <div
    style="color: white; margin-top: 20px; margin-bottom: 5px; text-align: center; font-weight: 700; font-size: 18px; user-select: none">
    3. ODABERITE STOL --->
  </div>
  <div class="p-field p-grid" id="napomena">
      <textarea [(ngModel)]="napomena" pInputTextarea
                placeholder="Napomena (opcionalno)"
                style="resize: none; width: 240px; color: white"></textarea>
  </div>

  <div class="tipka">
    <button (click)="rezerviraj()"
            *ngIf="(!isImeEmpty() && !isPrezimeEmpty() && isBrojFull() && !isDogadajEmpty() && !isStolEmpty())"
            class="p-button-raised p-button-success p-button-text" id="rezervirajtipka"
            label="Rezerviraj" pButton
            pRipple></button>
    <button *ngIf="(isImeEmpty() || isPrezimeEmpty() || !isBrojFull() || isDogadajEmpty() || isStolEmpty())"
            [disabled]="true"
            class="p-button-raised p-button-success p-button-text" id="rezervirajtipkaDisabled"
            label="Rezerviraj" pButton
            pRipple></button>
  </div>
</div>

<p-dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [visible]="showSmsDialog">
  <h3>Unesite ključ koji ste dobili putem SMS poruke:</h3>

  <!-- TODO Srediti izgled -->
  <p-inputMask #sms [(ngModel)]="smskey" mask="999999" placeholder="SMS ključ"
               styleClass="p-inputtext-confirmdialog"></p-inputMask>
  <div style="float: right">
    <button (click)="smsDeny()" class="p-button-warning p-button-text" icon="pi pi-check"
            label="Nisam dobio/dobila poruku"
            pButton
            type="button"></button>
    <button (click)="smsConfirm()" icon="pi pi-check" label="Potvrdi" pButton
            type="button"></button>
  </div>
</p-dialog>

