#tablewrapper
  height: 90vh

.tipka
  text-align: center
  margin-top: 35px

#nexttipka
  background: #dee21b
  color: black
  font-weight: bold
  font-size: 20px
  width: 160px
  height: 50px
  box-shadow: 2px 2px grey
  margin-top: 50px
