#tablewrapper
  height: 60vh

#nexttipka
  background: #dee21b
  color: black
  font-weight: bold
  font-size: 20px
  width: 160px
  height: 50px
  box-shadow: 2px 2px grey
  margin-top: 50px
#nexttipkaActive
  background: #dee21b
  color: black
  font-weight: bold
  font-size: 20px
  width: 160px
  height: 50px
  box-shadow: 2px 2px grey
  margin-top: 50px
#backtipka
  background: #dee21b
  color: black
  font-weight: bold
  font-size: 20px
  width: 160px
  height: 50px
  box-shadow: 2px 2px grey
  margin-top: 50px
  margin-left: 13px
  margin-right: 60px
#naslov
  color: white
  text-align: center
  font-weight: 700
  font-size: 23px
  margin-bottom: 20px
  padding-top: 10px

@media screen and (min-width: 359px) and (max-width: 360px)
  #backtipka
    margin-right: 50px!important
    width: 140px
  #nexttipka
    width: 140px
  #nexttipkaActive
    width: 140px
  #naslov
    padding-top: 5px!important
    margin-bottom: 10px!important

@media screen and (min-width: 374px) and (max-width: 375px)
  #backtipka
    margin-left: 15px!important
    width: 140px
  #nexttipka
    width: 140px
  #nexttipkaActive
    width: 140px
  #naslov
    padding-top: 5px!important

@media screen and (min-width: 279px) and (max-width: 280px)
  #backtipka
    margin-left: 10px!important
    width: 120px
    margin-right: 20px!important
  #nexttipka
    width: 120px
  #nexttipkaActive
    width: 120px
  #naslov
    padding-top: 5px!important

@media screen and (min-width: 319px) and (max-width: 320px)
  #backtipka
    width: 120px
    margin-right: 45px!important
  #nexttipka
    width: 120px
  #nexttipkaActive
    width: 120px
  #naslov
    padding-top: 5px!important
    margin-bottom: 5px!important

@media screen and (min-width: 539px) and (max-width: 540px)
  #backtipka
    width: 140px
    margin-right: 70px!important
    margin-left: 100px!important
  #nexttipka
    width: 140px
  #nexttipkaActive
    width: 140px
  #naslov
    padding-top: 5px!important
    margin-bottom: 20px!important
  #tablewrapper
    height: 70vh

@media screen and (min-width: 767px) and (max-width: 768px)
  #backtipka
    width: 160px
    height: 60px
    margin-right: 100px!important
    margin-left: 200px!important
    font-size: 25px
  #nexttipka
    width: 160px
    height: 60px
    font-size: 25px
  #nexttipkaActive
    width: 160px
    height: 60px
    font-size: 25px
  #naslov
    padding-top: 5px!important
    margin-bottom: 20px!important
  #tablewrapper
    height: 75vh



