<div class="dogadaji">
  <div
    style="color: white; text-align: center; font-weight: 700; font-size: 23px;  padding-top:160px; margin-bottom: 30px; padding-left: 5px">
    1. ODABERITE DOGAĐAJ:
  </div>
  <div *ngFor="let dogadaj of dogadaji" class="dogadaj">
    <app-dogadaj-mobile (click)="rezervacijeService.selectedEvent.next(dogadaj); select(dogadaj)"
                        [dogadaj]=dogadaj
                        [selected]="dogadaj.selected"
                        [alreadyReserved]="dogadaj.alreadyReserved"></app-dogadaj-mobile>
  </div>
  <div *ngIf="rezervacijeService.selectedEvent.getValue()==undefined"  id="tipka">


    <button  [disabled]="true" class="p-button-raised p-button-success p-button-text" id="nexttipka"
            label="Next ->" pButton
            pRipple></button>
  </div>
  <div *ngIf="rezervacijeService.selectedEvent.getValue()!=undefined" id="tipkaActive">
  <button (click)="next()" class="p-button-raised p-button-success p-button-text" id="nexttipkaActive"
          label="Next ->" pButton
          pRipple></button>
  </div>
</div>
<p-toast></p-toast>
