<div class="dogadaji">
  <div id="naslov"
    style="color: white; text-align: center; font-weight: 700; font-size: 23px;  padding-top:120px; margin-bottom: 30px; padding-left: 5px">
    1. ODABERITE DOGAĐAJ:
  </div>
  <div *ngIf=!eventsExist() class="doagadaj">
    <p class="p-accordion-header">
      Trenutno nema aktivnih događaja.
    </p>
  </div>
  <div *ngFor="let dogadaj of dogadaji" class="dogadaj">
    <app-dogadaj-mobile (click)="rezervacijeService.selectedEvent.next(dogadaj); select(dogadaj)"
                        [dogadaj]=dogadaj
                        [selected]="dogadaj.selected"
                        [alreadyReserved]="dogadaj.alreadyReserved"></app-dogadaj-mobile>
  </div>
  <div *ngIf="rezervacijeService.selectedEvent.getValue()==undefined"  id="tipka">


    <button  [disabled]="true" class="p-button-raised p-button-success p-button-text" id="nexttipka"
            label="Dalje ->" pButton
            pRipple></button>
  </div>
  <div *ngIf="rezervacijeService.selectedEvent.getValue()!=undefined" id="tipkaActive">
  <button (click)="next()" class="p-button-raised p-button-success p-button-text" id="nexttipkaActive"
          label="Dalje ->" pButton
          pRipple></button>
  </div>
</div>

